<a href="https://colab.research.google.com/github/Yarin-Shohat/Data-Anlysis-Projects/blob/main/Project%202%20-%20Cars/Project_2_Cars_Data_Analysis_Start.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Working on Real Project with Python**

# Cars Dataset
***
Here,
The data of different cars is given with their specifications.


This data is available as a CSV file. We are going to analyze this data set using the Pandas DataFrame.

Import Pandas

Read Data with Pandas

Show the Data

# 1) Instruction ( For Data Cleaning )
- Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

----

# 2) Question ( Based on Value Counts )
- Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data
?

----

# 3) Instruction ( Filtering )
- Show all the records where Origin is Asia or Europe.

----

# 4) Instruction ( Removing unwanted records )
- Remove all the records (rows) where Weight is above 4000.

-----

# 5) Instruction ( Applying function on a column )
- Increase all the values of 'MPG_City' column by 3.

----